<div class="main-panel">
    <div class="main-content">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="mb-1" *ngIf="isProgress">
                    <ngb-progressbar type="info" [value]="100"  [striped]="true" [animated]="true" class="progress-bar-sm"></ngb-progressbar>
                </div>

                <section>
                <div class="row" *ngIf="view === viewNameEnum.LIST">
                    <div class="col-sm-12">
                        <a class="mb-0 btn btn-raised gradient-blueberry white" href="javascript:void(0)" (click)="handleCustomerCreate()">Add a New
                            Customer</a>
                    </div>
                </div>

                <app-callan-customers-list [customers]="customers"
                                           [listRowsLimit]="listRowsLimit"
                                           (setCurrentCustomer)="handleSetCurrentCustomer($event)"
                                           (viewCustomer)="handleViewCustomer($event)"
                                           *ngIf="view === viewNameEnum.LIST && customers"></app-callan-customers-list>

                    <app-callan-customer-view [customer]="operateCustomer"
                                              (navigateBack)="handleNavigateBack()"
                                              (editCustomer)="handleEditCustomer($event)"
                                              (activateCustomer)="handleCustomerSave($event, operationNameEnum.ACTIVATE)"
                                              (deactivateCustomer)="handleCustomerSave($event, operationNameEnum.DEACTIVATE)"
                                              (setCurrentCustomer)="handleSetCurrentCustomer($event)"
                                               *ngIf="operateCustomer && view === viewNameEnum.CUSTOMER_VIEW"></app-callan-customer-view>


                    <app-callan-customer-details [customer]="operateCustomer"
                                             [rolesList]="rolesList"
                                             [formErrors$]="formErrors$"
                                             [isSaving]="isProgress"
                                             (customerSaveEvent)="handleCustomerSave($event)"
                                             (cancelEvent)="handleViewCustomer()"
                                             *ngIf="operateCustomer && view === viewNameEnum.CUSTOMER_DETAILS"></app-callan-customer-details>

                </section>
            </div>
        </div>
    </div>
</div>
