dd {
  line-height: inherit;
}

dl.row dt {
  padding-right: 0 !important;
}

ngb-accordion {
  [role=tabpanel] {
    padding: 0 !important;
  }

  .card-header {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
}

.form-errors-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


ng2-smart-table {

  tbody {
    tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  .ng2-smart-actions > ng2-st-tbody-custom > {
    a, a:hover {
      text-decoration: none;
    }
  }

  tr:not(.cancel-shown) {
    i.cancel {
      display: none;
    }
  }
}

.ngx-datatable.bootstrap {
  .datatable-body {
    .datatable-body-row.active {
      color: inherit;
      background-color: #ddd;
    }
  }

  .datatable-row-detail {
    color: inherit;
    background-color: #d2e5ea;
    border-top: solid 1px #777;

    dl {
      margin: 0;

      dt, dd {
        float: left;
        margin: 0;
      }
      dt::after {
        content: ":";
      }
      dt {
        margin-right: .5Em;
      }
    }

    dl::after {
      display: table;
      content: " ";
      clear: both;
      box-sizing: border-box;
    }
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent);
}
