dd {
  line-height: inherit;
}

dl.row dt {
  padding-right: 0 !important;
}

ngb-accordion {
  [role=tabpanel] {
    padding: 0 !important;
  }

  .card-header {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }
}

.form-errors-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ng2-smart-actions > ng2-st-tbody-custom > {
  a, a:hover {
    text-decoration: none;
  }
}
