<div *ngIf="lessonEvent">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Lesson details</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">


                <div class="card-header">
                    <h5 class="card-title">{{lessonEvent.courseProgress?.course.title}}</h5>
                </div>

                <div class="card-body">
                    <div class="card-block pb-0">

                        <div class="row" *ngIf="view === viewNameEnum.STUDENT; else studentInfoBlock">
                            <div class="col-sm-5 info-container">
                                <dl *ngIf="lessonEvent.teacher">
                                    <dt>Tutor:</dt>
                                    <dd>{{lessonEvent.teacher?.getFullName()}}</dd>
                                </dl>
                                <dl *ngIf="lessonEvent.teacher?.description">
                                    <dt>Teacher's short info:</dt>
                                    <dd>{{lessonEvent.teacher?.description}}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-4 info-container">
                                <dl class="contact-info mr-1" *ngIf="lessonEvent.isStarted()">
                                    <dt>Email:</dt>
                                    <dd>{{lessonEvent.teacher?.email}}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-3 meta-info">
                                <div class="row">
                                    <i class="ft-clock font-medium-3"></i>
                                    <span>{{lessonEvent.startTime|date: 'short'}}</span>
                                </div>
                                <div class="row">
                                    <i class="{{getStateClass(lessonEvent.state)}} {{getStateIcon(lessonEvent.state)}}"></i>
                                    <span class="{{getStateClass(lessonEvent.state)}}">{{getStateTitle(lessonEvent.state)}}</span>
                                </div>
                            </div>
                        </div>

                        <ng-template class="row" #studentInfoBlock>
                            <div class="row">
                                <div class="col-sm-5 info-container">
                                    <dl>
                                        <dt>Student:</dt>
                                        <dd class="student-row" (click)="handleGetStudentDetails(lessonEvent.student)">{{lessonEvent.student?.getFullName()}}</dd>
                                    </dl>
                                    <dl *ngIf="lessonEvent.student?.description">
                                        <dt>Student's short info:</dt>
                                        <dd>{{lessonEvent.student?.description}}</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-4 info-container">
                                    <dl class="contact-info mr-1" *ngIf="lessonEvent.isStarted()">
                                        <dt>Email:</dt>
                                        <dd>{{lessonEvent.student?.email}}</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 meta-info">
                                    <div class="row">
                                        <i class="ft-clock font-medium-3"></i>
                                        <span>{{lessonEvent.startTime|date: 'short'}}</span>
                                    </div>
                                    <div class="row">
                                        <i class="{{getStateClass(lessonEvent.state)}} {{getStateIcon(lessonEvent.state)}}"></i>
                                        <span class="{{getStateClass(lessonEvent.state)}}">{{getStateTitle(lessonEvent.state)}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <div class="row" *ngIf="lessonEvent.state === lessonEventStateEnum.COMPLETED && isConfirmButtonCanBeShown">
                            <div class="col-sm-12 mt-2 text-sm-right">
                                <button class="btn btn-raised gradient-blackberry white" href="javascript:void(0)" (click)="handleLessonEventConfirm(lessonEvent)">Confirm the lesson</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <pre>
                lesson: {{lessonEvent}} lessonStarted: {{isLessonStarted}} lessonTimeSpent: {{isLessonTimeSpent}}
            </pre>
            -->
        </div>

    </div>
</div>
