<div *ngIf="lessonEvent">
    <div class="row">
        <div class="col-sm-12">

            <h4 class="mt-3">Lesson details</h4>

            <div class="card">


                <div class="card-header">
                    <h5 class="card-title">{{lessonEvent.courseProgress.course.title}}</h5>
                </div>

                <div class="card-body">
                    <div class="card-block pb-0">

                        <div class="row">
                            <dl class="col-sm-5">
                                <dt>Tutor:</dt>
                                <dd>{{lessonEvent.teacher?.firstName}}</dd>
                            </dl>
                            <div class="col-sm-5">
                                <dl class="contact-info mr-1" *ngIf="lessonEvent.isStarted()">
                                    <dt>Email:</dt>
                                    <dd>{{lessonEvent.teacher?.email}}</dd>
                                </dl>
                            </div>
                            <div class="col-sm-2 meta-info">
                                <div class="row">
                                    <i class="ft-clock font-medium-3"></i>
                                    <span>{{lessonEvent.startTime|date: 'short'}}</span>
                                </div>
                                <div class="row">
                                    <i class="{{getStateClass(lessonEvent.state)}} {{getStateIcon(lessonEvent.state)}}"></i>
                                    <span class="{{getStateClass(lessonEvent.state)}}">{{getStateTitle(lessonEvent.state)}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="lessonEvent.state === lessonEventStateEnum.COMPLETED && isConfirmButtonCanBeShown">
                            <div class="col-sm-12 mt-2 text-right">
                                <button class="btn btn-raised gradient-blackberry white" href="javascript:void(0)" (click)="handleLessonEventConfirm(lessonEvent)">Confirm the lesson</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <pre>
                lesson: {{lessonEvent}} lessonStarted: {{isLessonStarted}} lessonTimeSpent: {{isLessonTimeSpent}}
            </pre>
            -->
        </div>

    </div>
</div>
