@import "../../../assets/sass/scss/core/app-colors";

:host {

  dl {
    padding: 1rem;
  }

  .contact-info {
    background: map-get($grey, 'lighten-3');
    border-radius: 5px;
  }

  .meta-info {

    .row {
      * {
        vertical-align: middle !important;
      }

      i {
        color: map-get($grey, 'base');
        font-size: 1.3rem;
        margin-right: 0.7rem;
      }
    }

    .row:not(last-child) {
      margin-bottom: .2Em;
    }

    align-self: center;

  }
}