<div class="row">
  <div class="col-lg-12">
    <h4 class="mt-3">Add a new course</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <div class="form-body">
            <form [formGroup]="courseAddForm" (ngSubmit)="handleCourseProgressAdd()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="all_courses"> Select a course</label>
                    <select class="form-control" id="all_courses" [formControlName]="'course'">
                      <option *ngFor="let course of courses" id="{{course.id}}" [ngValue]="course">{{course.title}}
                      </option>
                    </select>
                    <small class="form-text text-muted danger"
                           *ngIf="courseAddForm.get('course').hasError('server') && courseAddForm.get('course').touched">
                      {{courseAddForm.get('course').getError('server')}}
                    </small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h5
                          class="mb-2"
                          *ngIf="toNumber(courseAddForm.get('course').value.teacherChoice) === courseTeacherChoiceEnum.MANUAL && courseCompetences && courseCompetences.length > 0"
                  >Please, select the tutor</h5>

                  <app-callan-course-competences-for-course-list
                          [courseCompetences]="courseCompetences"
                          (selectCourseCompetenceEvent)="handleSelectCourseCompetence($event)"
                          *ngIf="toNumber(courseAddForm.get('course').value.teacherChoice) === courseTeacherChoiceEnum.MANUAL && courseCompetences && courseCompetences.length > 0;"
                  ></app-callan-course-competences-for-course-list>
                  <div class="mt-2 text-" *ngIf="toNumber(courseAddForm.get('course').value.teacherChoice) === courseTeacherChoiceEnum.MANUAL && (!courseCompetences || courseCompetences.length === 0)">This Course currently don't has any teacher</div>
                </div>
              </div>

              <ul *ngIf="commonFormErrors.length > 0" class="pt-20 form-errors-wrapper">
                <li *ngFor="let error of commonFormErrors" class="form-text text-muted danger">{{error}}</li>
              </ul>

              <div class="form-actions">
                <button type="button" class="btn btn-raised btn-secondary mr-1" (click)="handleCancel()">
                  Cancel
                </button>

                <button type="submit" class="btn btn-raised btn-primary" [disabled]="courseAddForm.invalid || !isCourseCompetenceSelected">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

