<ul class="list-group">
<li class="list-group-item"
    [ngClass]="{'selected': selectedCourseCompetence && selectedCourseCompetence === competence}"
    *ngFor="let competence of courseCompetences"
>
  <div class="row">
  <div class="col-sm-10">
  <app-callan-customer-header [customer]="competence.customer" [forceRole]="roleNameEnum.TEACHER" [isInline]="true" *ngIf="competence.customer"></app-callan-customer-header>
  <div class="customer-description">{{competence.customer.description}}</div>
  </div>

  <div class="col-sm-2 button-container">
  <button type="button" class="btn btn-raised float-right"
          [ngClass]="{
          'btn-success': selectedCourseCompetence && selectedCourseCompetence === competence,
          'btn-outline-success': !selectedCourseCompetence || selectedCourseCompetence !== competence
          }"
          (click)="handleSelectCourseCompetence(competence)">
    <span *ngIf="selectedCourseCompetence && selectedCourseCompetence === competence; else promptText">Selected</span>
    <ng-template #promptText>Select this tutor</ng-template>
  </button>
  </div>
  </div>
</li>

</ul>
