<div class="main-panel">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid">
        <section>
        <div class="row" *ngIf="view === viewNameEnum.DASHBOARD && currentCustomer">
          <div class="col-sm-12">
            <a class="btn mb-0 btn-raised gradient-summer white" href="javascript:void(0)" (click)="handleShowScheduleRangeDetails()">Add a new time range</a>
          </div>
        </div>

        <app-callan-schedule-ranges-list
                [scheduleRanges$]="scheduleRanges$"
                [currentDate]="currentDate"
                (scheduleRangeDeleteEvent)="handleScheduleRangeDelete($event)"
                *ngIf="view === viewNameEnum.DASHBOARD && currentCustomer"
        ></app-callan-schedule-ranges-list>
        <app-callan-schedule-range-details
                [scheduleRange]="currentScheduleRange"
                [scheduleMinuteStep]="scheduleMinuteStep"
                (cancelEvent)="handleScheduleRangeDetailsCancel()"
                (scheduleRangeSaveEvent)="handleScheduleRangeSave($event)"
                *ngIf="view === viewNameEnum.RANGE_DETAILS"
        ></app-callan-schedule-range-details>
        <app-callan-schedule-range-calendar
                [customer]="currentCustomer"
                [currentDate]="currentDate"
                [datesEnabled]="datesEnabled"
                [scheduleMinuteStep]="scheduleMinuteStep"
                [refresh$]="refresh$"
                (setCurrentDateEvent)="handleSetCurrentDate($event)"
                *ngIf="view === viewNameEnum.DASHBOARD && currentCustomer && currentDate"
        ></app-callan-schedule-range-calendar>
        </section>
      </div>
    </div>
  </div>
</div>
