<section>
<div class="row">
<div class="col-sm-12">
<div class="content-header">Lessons</div>
</div>
</div>

<app-callan-courses-list [allCourses$]="allCourses$" [currentCustomerCourseProgresses$]="currentCustomerCourseProgresses$" [currentCourseProgress$]="currentCourseProgress$" (courseSelectEvent)="handleSelectCourseProgress($event)" (lessonEventCreateEvent)="handleLessonEventCreate($event)" *ngIf="!isDetailsShown"></app-callan-courses-list>
<app-callan-lesson-events-list *ngIf="currentCourseProgress && isDetailsShown" [courseProgress$]="currentCourseProgress$" [lessonEvents$]="lessonEvents$" (cancelEvent)="handleLessonEventCreateCancel($event)" (lessonEventCreateEvent)="handleLessonEventCreateEvent($event)"></app-callan-lesson-events-list>

<div class="row" *ngIf="isAddButtonShown">
<div class="col-sm-12">
<div class="mt-2">
<a class="btn btn-raised gradient-mint white" href="javascript:void(0)">Add a new course</a>
</div>
</div>
</div>

    <p *ngIf="currentCustomer">Current customer: {{currentCustomer.email}}</p>
</section>