<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>
<div class="main-panel">
    <div class="main-content">
        <div class="content-wrapper">
            <div class="container-fluid">

                <section>
                    <app-callan-lesson-event
                            [lessonEvent]="currentLessonEvent"
                            [isConfirmButtonCanBeShown]="isConfirmLessonButtonShown"
                            [view]="lessonEventViewNameEnum.STUDENT"
                            (lessonEventConfirmEvent)="handleLessonEventConfirm($event)"
                            *ngIf="currentLessonEvent && isLessonEventShown && view === viewNameEnum.DASHBOARD"
                    ></app-callan-lesson-event>

                    <app-callan-courses-list
                            [courseProgresses]="courseProgresses"
                            [isLessonEventsCreateButtonShown]="isLessonEventsCreateButtonShown"
                            [isTopUpLessonEventsBalanceButtonShown]="isTopUpLessonEventsBalanceButtonShown"
                            [currentCourseProgress]="currentCourseProgress"
                            [completedLessonEvents]="completedLessonEvents"
                            (courseSelectEvent)="handleSelectCourseProgress($event)"
                            (lessonEventCreateEvent)="handleLessonEventCreate($event)"
                            (topUpLessonEventsBalanceEvent)="handleLessonEventsBalanceShown($event)"
                            *ngIf="view === viewNameEnum.DASHBOARD"
                    ></app-callan-courses-list>

                    <div class="row"
                         *ngIf="view === viewNameEnum.DASHBOARD && isCustomerCourseAddButtonShown && currentCustomer"
                    >
                        <div class="col-sm-12">
                            <div class="mt-2">
                                <a class="btn btn-raised gradient-mint white" href="javascript:void(0)" (click)="handleCustomerCourseAddShow()">Add a New Course</a>
                            </div>
                        </div>
                    </div>

                    <app-callan-customer-course-add
                            [allCourses]="allCourses"
                            [currentCustomerCourseProgresses]="courseProgresses"
                            [courseProgress]="currentCourseProgress"
                            [courseCompetences]="courseCompetences"
                            [formErrors$]="formErrors$"
                            (cancelEvent)="handleCustomerCourseAddCancel()"
                            (courseProgressAddEvent)="handleCourseProgressAdd($event)"
                            (courseSelectEvent)="handleCourseSelect($event)"
                            *ngIf="view === viewNameEnum.CUSTOMER_COURSE_ADD"
                    ></app-callan-customer-course-add>

                    <app-lesson-events-balance-details
                            [courseProgress]="currentCourseProgress"
                            [formErrors$]="formErrors$"
                            (cancelEvent)="handleLessonEventsBalanceDetailsCancel()"
                            (lessonEventsBalanceSaveEvent)="handleLessonEventsBalanceSave($event)"
                            *ngIf="view === viewNameEnum.BALANCE_DETAILS"
                    ></app-lesson-events-balance-details>

                    <app-callan-lesson-events-student-calendar
                            [calendarEvents]="calendarEvents"
                            [datesEnabled]="datesEnabled"
                            [refresh$]="calendarRefresh$"
                            [currentDate]="currentDate"
                            [scheduleMinuteStep]="scheduleMinuteStep"
                            (cancelEvent)="handleLessonEventCreateCancel()"
                            (showCurrentWeekEvent)="handleCalendarShowCurrentWeek()"
                            (showNextWeekEvent)="handleCalendarShowNextWeek()"
                            (showPreviousWeekEvent)="handleCalendarShowPreviousWeek()"
                            (hourSegmentClickEvent)="handleCalendarHourSegmentClick($event)"
                            (lessonEventClickEvent)="handleCalendarLessonEventClick($event)"

                            *ngIf="currentCourseProgress && view === viewNameEnum.CALENDAR"
                    ></app-callan-lesson-events-student-calendar>

                    <app-callan-lesson-events-list
                            [lessonEvents]="lessonEvents"
                            [isLessonEditingShown]="true"
                            [listRowsLimit]="listRowsLimit"
                            [isFilterRowShown]="false"
                            *ngIf="view === viewNameEnum.DASHBOARD"
                            (setCurrentLessonEventEvent)="handleSetCurrentLessonEvent($event)"
                            (cancelLessonEventEvent)="handleCancelLessonEvent($event)"
                    ></app-callan-lesson-events-list>
                </section>
            </div>
        </div>
    </div>
</div>