<div class="col-sm-12">
    <h5>Google Calendar Authorization</h5>

    <div class="mt-2" *ngIf="isAuthorized; else notAuthorizedBlock">
        <h6 class="success">You authorized your Google Account</h6>

    </div>
    <ng-template #notAuthorizedBlock>
        <div class="row mt-3">
            <div class="col-sm-12">
                <button class="mb-0 btn btn-raised gradient-pomegranate white"
                        (click)="handleAuthorize()">Authorize
                </button>
            </div>
        </div>
    </ng-template>
</div>

