<h3>Week schedule</h3>
<div class="row" *ngIf="scheduleRangesRegularInclusive">
    <div class="col-sm-3" *ngFor="let dayNumber of dayOfWeekOrder">
        <h4>{{dayOfWeekTitles[dayNumber]}}</h4>

        <ul *ngIf="scheduleRangesRegularInclusive[dayNumber] !== undefined">
            <li *ngFor="let scheduleRange of scheduleRangesRegularInclusive[dayNumber]">
                {{staticScheduleService.convertMinutesToTimeString(scheduleRange.startMinutes)}} &mdash; {{staticScheduleService.convertMinutesToTimeString(scheduleRange.endMinutes)}}
            </li>
        </ul>
    </div>
</div>