:host /deep/ .cal-week-hours-view {
  .cal-day-view {
    .cal-hour-segment:not(.hour-enabled) {
      background: #ddd;
    }

    .cal-time {
      font-weight: normal;
      color: #333;
    }

    .cal-event {
      opacity: 0.85;
      text-align: right;
    }

    .cal-hour-rows {
      border: solid 1px #eee;
    }
  }

  .cal-day-container:first-child {
    flex: 1;
  }

  .cal-header:first-child {
    flex: 1;
  }
}

