<div class="row" *ngIf="courseProgress.course.teacherChoice === courseTeacherChoiceEnum.MANUAL">
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-6 text-right">Primary teacher:</dt>
      <dd class="col-sm-6">{{courseProgress.primaryTeacher?.getFullName()}}</dd>
    </dl>
  </div>
</div>
  <div class="row">
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-6 text-right">Lesson balance:</dt>
      <dd class="col-sm-6 lesson-count-value" [ngClass]="{'text-info': courseProgress.lessonEventsBalance > 0, 'text-danger': courseProgress.lessonEventsBalance === 0}">{{courseProgress.lessonEventsBalance}}</dd>
    </dl>

  </div>
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-6 text-right">Completed lessons:</dt>
      <dd class="col-sm-6 lesson-count-value">{{completedLessonEventsCount}}</dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 text-right">
    <a class="btn btn-raised gradient-green-tea white" href="javascript:void(0)" (click)="handleTopUpLessonEventsBalance($event)" *ngIf="isTopUpLessonEventsBalanceButtonShown">Top up Balance</a>
  </div>
  <div class="col-sm-6 text-right">
    <a class="btn btn-raised gradient-ibiza-sunset white" href="javascript:void(0)" (click)="handleLessonEventsCreate($event)" *ngIf="isLessonEventsCreateButtonShown">Plan the next Lesson</a>
  </div>
</div>
