<div class="row">
  <div class="col-sm-6">
    <dl>
      <dt>Lesson balance:</dt>
      <dd>{{courseProgress.lessonEventsBalance}}</dd>
    </dl>

  </div>
  <div class="col-sm-6">
    <dl>
      <dt>Completed lessons:</dt>
      <dd>{{courseProgress.completedLessonEventsCount}}</dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 text-right">
    <a class="btn btn-raised gradient-green-tea white" href="javascript:void(0)" (click)="handleTopUpLessonEventsBalance($event)" *ngIf="isTopUpLessonEventsBalanceButtonShown">Top up balance</a>
  </div>
  <div class="col-sm-6 text-right">
    <a class="btn btn-raised gradient-ibiza-sunset white" href="javascript:void(0)" (click)="handleLessonEventsCreate($event)" *ngIf="isLessonEventsCreateButtonShown">Plan the next lesson</a>
  </div>
</div>
