:host {
  dt {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  dd {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
  }

  dd.balance-value {

    .value, .spacer {
      font-size: 48px;
      line-height: 48px;
    }
  }
}