<div class="row" *ngIf="courseProgress.course.teacherChoice === courseTeacherChoiceEnum.MANUAL">
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-6 text-sm-right">Primary teacher:</dt>
      <dd class="col-sm-6">{{courseProgress.primaryTeacher?.getFullName()}}</dd>
    </dl>
  </div>
</div>
  <div class="row">
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-6 text-sm-right">Balance:</dt>
      <dd class="col-sm-6 balance-value">
        <span class="value" [ngClass]="{'text-info': courseProgress.minutesBalance > 0, 'text-danger': courseProgress.minutesBalance === 0}">{{getHoursPartOfHourlyFormattedString(courseProgress.minutesBalance)}}</span> h.<span class="spacer">&nbsp;</span>
        <span *ngIf="getMinutesPartOfHourlyFormattedString(courseProgress.minutesBalance)"><span class="value">{{getMinutesPartOfHourlyFormattedString(courseProgress.minutesBalance)}}</span> m.</span>
      </dd>
    </dl>

  </div>
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-6 text-sm-right">Completed lessons:</dt>
      <dd class="col-sm-6 lesson-count-value">{{completedLessonEventsCount}}</dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 text-sm-right">
    <a class="btn btn-raised gradient-green-tea white" href="javascript:void(0)" (click)="handleTopUpBalance($event)" *ngIf="isTopUpBalanceButtonShown">Top up Balance</a>
  </div>
  <div class="col-sm-6 text-sm-right">
    <a class="btn btn-raised gradient-ibiza-sunset white" href="javascript:void(0)" (click)="handleLessonEventsCreate($event)" *ngIf="isLessonEventsCreateButtonShown">Plan the next Lesson</a>
  </div>
</div>
