<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Schedule board</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mt-2">
    <a class="btn btn-raised btn-secondary" href="javascript:void(0)" (click)="handleClickCancel()">Back</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mt-2">

  <div class="btn-group">
  <a class="btn btn-raised btn-primary" (click)="handleShowPreviousWeek()">
    Previous
  </a>
  <a class="btn btn-raised btn-danger" (click)="handleShowCurrentWeek()">
    Today
  </a>
  <a class="btn btn-raised btn-primary" (click)="handleShowNextWeek()">
    Next
  </a>
</div>
  </div>
</div>

<iq-calendar-week-hours-view
        [viewDate]="currentDate"
        [events]="calendarEvents"
        [hourSegments]="hourSegmentsAmount"
        [hourSegmentHeight]="30"
        [dayStartHour]="0"

        [dayEndHour]="23"
        [weekStartsOn]="1"
        [headerColVisible]="false"
        [datesEnabled]="datesEnabled"
        [disableSegmentsInPast]="true"
        [disableEventsDates]="true"
        [refresh]="refresh$"
        (hourSegmentClicked)="handleClickHourSegment($event)"
        (eventClicked)="handleLessonEventClicked($event)"
>
</iq-calendar-week-hours-view>


<div class="row">
  <div class="col-sm-12 mt-2">
    <a class="btn btn-raised btn-secondary" href="javascript:void(0)" (click)="handleClickCancel()">Back</a>
  </div>
</div>